// Metrics
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

// Profiles
profiles {
    hpc {
        // container
        singularity.enabled = true
        singularity.autoMounts = true
        container = "jeffquinnmsk/bayestme:latest"
        // dispatcher
        process.executor = 'lsf'
        executor {
            name = 'lsf'
            perJobMemLimit = true
        }
    }
    cloud {
        // container
        docker {
          enabled = true
          runOptions = '-v /Users/juanes/Developer/nextflow-bayestme:/Users/juanes/Developer/nextflow-bayestme'
        }
        process.container = 'jeffquinnmsk/bayestme:latest'
        // dispatcher
        executor = 'local'
    }
}
